<html>
<head>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <meta charset="utf-8">
</head>
<body>


	<div id="cxense_user_like" class="relate mT10" style="height:320px;"></div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

	<div id="cxense_kannrenn" class="brdrbox mT10 pB10"></div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
	<div id="cxense_latest" class="relate mT10"></div>



<script type="text/template" data-template="cxense_userlike_template">

	  <h2>あなたへのおすすめ料理</h2>
	  <ul class="thmblist">
	    <div class="simply-scroll simply-scroll-container">
	    <div class="simply-scroll-clip">
	    <div class="simply-scroll simply-scroll-container">
	    <div class="simply-scroll-clip">
	    <div id="slider" class="simply-scroll-list" style="height: 1548px;">

		 <% _.each(list, function(e,i){ %>
			<li><a href="<%= e.link_url %>" class="recipename">
				<span class="thmbwrapright"><img src="<%= e.img_src_url %>" width="115"></span><%= e.link_title %></a>
			</li>
		 <% }); %>
	  </ul>

</script>



<script type="text/template" data-template="cxense_kannrenn_template">

	<h2 class="bigger mT10 mL10 remark">この記事を読んだ人が読んだ別の記事</h2><ul class="tilelist col5 pT10">
		<% _.each(list, function(e,i){ %>
			<li><a href="<%= e.link_url %>" class="recipename"><img src="<%= e.img_src_url %>" width="116" class="recipeimg"> <%= e.link_title %> </a></li>
		<% }); %>
	</ul>

</script>


<script type="text/template" data-template="cxense_ranking_template">

	<h2>トレンドのレシピ</h2>
		<ol class="thmblist">
		<% _.each(list, function(e,i){ %>
			<li class="no1 rcpnm"><span><%= e.ranking %></span><a href="<%= e.link_url %>" class="recipename"><%= e.link_title %></a></li>
		<% }); %>
		</ol>

</script>


<script type="text/javascript" src="http://cdn.cxense.com/cx.js"></script>
<script src="./cxense_content_rec_v2.js"></script>


</body>
</html>
